* {
	background-color: #101010;
	color: #d8dee9;

	border: none;
	border-radius: 0;
	min-height: 0;
	font-family: JetBrainsMono;
	font-size: 20px;
}

.modules-left {
	margin-left: 12px;
}

.modules-right {
	margin-right: 12px;
}

#workspaces button {
	all: initial;
	padding: 4 10px;
	margin: 0 2.5px;
	min-width: 9px;
}

#workspaces button.empty {
	opacity: 0.5;
}

#battery,
#network,
#pulseaudio,
#clock {
	min-width: 12px;
	margin: 0 7.5px;
}

tooltip {
	padding: 2px;
}
