configuration{
    modi: "drun";
    show-icons: false;
    terminal: "kitty";
    drun-display-format: " {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "";
    sidebar-mode: false;
}

@theme "~/.config/rofi/nord.rasi"

